# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/cypress/junit.xml

# next.js
/.next/
/out/

# storybook
/storybook-static

# misc
.DS_Store
*.pem
.idea

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# cache
.eslintcache
.stylelintcache

# cypress
/cypress/videos
/cypress/screenshots

# vscode
.vscode

# sentry
.sentryclirc

# graphql
/src/graphql/cli
/src/api/graphql.ts

# lang
/src/lang/cli
