.animateBottomDigit {
    animation: bottomAnimation 0.5s forwards;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 100%;
    height: 100%;

    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 12%;
}

.animateTopDigit {
    animation: topAnimation 0.5s forwards;
 
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 100%;
    height: 100%;
    
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 12%;
}

@keyframes topAnimation {
    0% {
      transform: scale(1.0 ,1.0);      
    }
    50% {
      transform: scale(1.0 , 0);      
    }
    100% {
      transform: scale(1.0 , 0);      
    }
  }

  @keyframes bottomAnimation {
    0% {
      transform: scale(1.0 , 0);      
    }
    50% {
      transform: scale(1.0 , 0);      
    }
    100% {
      transform: scale(1.0 ,1.0);      
    }
  }

  .commonDigit {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    width: 100%;
    height: 100%;
 
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 12%;
  }